.leftSection {
    background-image: url("../../../../assets/image/svg/login.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: 100%;
}


.others {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.others .rememberMe  label{
    margin-left: .5rem;
    color: var(--main-color);
}

